.cell-wafer-n {
    background: rgba(255, 0 ,0, 0.7);
    text-align: right;
}

.cell-led-n {
    background: rgba(253, 233, 217,0.7);
}

.cell-supplier {
    background: rgba(197, 217, 241,0.7);
}

.cell-lot-n {
    background: rgba(242, 220, 219, 0.7);
}

.cell-bin-n {
    background: rgba(242, 220, 219, 0.7);
}

.headerMain {
    background: rgba(141, 180, 226, 0.7);
    color: white;
    font-weight: bold;
    border: 1px solid #303030;
}

.gHeader1 {
    background: rgba(235, 241, 222, 0.7);
}

.gHeader2 {
    background: rgba(218, 238, 243, 0.7);
}

.gHeader3 {
    background: rgba(253, 233, 217, 0.7);
}

// Center text inside header
.ag-header-group-text {
    margin: 0 auto;
    font-weight: bold;
    font-size: 120%;
    color: black;
}

.ag-header-cell-text {
    white-space: normal !important;
    margin: 0 auto;
    text-align: center;
    overflow: visible;
}

.ag-theme-balham .ag-cell {
    border: 1px solid #303030;
}

.ag-theme-balham .ag-root {
    border: 2px solid #303030;
}

// Make the size of the drop-down menus fit
.ag-theme-balham .ag-rich-select .ag-rich-select-list {
    height: 100%;
    max-height: 182px;
    overflow: auto;
}

.ag-theme-balham .ag-header-cell {
    line-height: 28px;
}
