.cell-wafer-n {
    background-color: rgba(255,0,0,0.7);
}

.cell-led-n {
    background: rgba(253, 233, 217,0.7);
}

.cell-supplier {
    background: rgba(197, 217, 241,0.7);
}

.cell-lot-n {
    background: rgba(242, 220, 219, 0.7);
}

.cell-bin-n {
    background: rgba(242, 220, 219, 0.7);
}