<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css"/>
<div style="text-align:center">
  <h1>
    {{ title }}
  </h1>
</div>

<!-- <ul>
  <li *ngFor="let led of leds">{{ led.wafer_n }}</li>
</ul> -->
<div>
  <p>
    <label>Export to CSV: </label>
    <button (click)="onExport()">Export</button>
  </p>
  <p>
    <label>Import from CSV: </label>
    <input type="file" accept=".csv" id="CSVinputButton" (change)="onImport($event)">
  </p>
</div>

<ag-grid-angular 
  #agGrid
  style="width: 100%; height: 40em;" 
  class="ag-theme-balham"
  [enableSorting]="true"
  [enableFilter]="true"
  [rowData]="rowData" 
  [columnDefs]="columnDefs"
  [defaultColDef]="defaultColDef"
  [enableColResize]="true"
  [toolPanelSuppressSideButtons]="true"
  [components]="components"
  [cacheBlockSize]="cacheBlockSize"
  [maxBlocksInCache]="maxBlocksInCache"
  rowSelection="multiple"
  (cellValueChanged)="onCellValueChanged($event)"
  (gridReady)="onGridReady($event)"
  >
</ag-grid-angular>

<!--<button class="button" (click)="getSelectedRows()">Get Selected Rows</button>-->
<button class="button button-blue" (click)="onAddRow()">Add row</button>
<button class="button button-red" (click)="onRemoveSelected()">Remove Selected</button>
<button class="button button-blue" (click)="onCloneSelected()">Clone selected</button>
<!-- <button class="button" (click)="parseAllLines()">Print console</button>
<button class="button" (click)="getSelectedRows()">Get rows</button> -->
<button class="button" id="saveButton" (click)="saveGridData()" style="float: right;" disabled>SAVE changes</button>
<button class="button button-red" (click)="clearDatabase()" style="float: right;">CLEAR Database (DEBUG)</button>
