<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css"/>
<div style="text-align:center">
  <h1>
    {{ title }}
  </h1>
</div>

<ul>
  <li *ngFor="let user of users">{{ user.name }}</li>
</ul>

<ag-grid-angular 
  #agGrid
  style="width: 100%; height: 500px;" 
  class="ag-theme-balham"
  [enableSorting]="true"
  [enableFilter]="true"
  [rowData]="rowData" 
  [columnDefs]="columnDefs"
  [defaultColDef]="defaultColDef"
  [enableColResize]="true"
  [toolPanelSuppressSideButtons] = "true"
  [components]="components"
  rowSelection="multiple"
  (gridReady)="onGridReady($event)"
  >
</ag-grid-angular>

<!--<button class="button" (click)="getSelectedRows()">Get Selected Rows</button>-->
<button class="button button-blue" (click)="onAddRow()">Add row</button>
<button class="button button-red" (click)="onRemoveSelected()">Remove Selected</button>

