<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

<div style="text-align:center">
  <h1>
    {{ title }}
  </h1>
</div>

<ul>
  <li *ngFor="let user of users">{{ user.name }}</li>
</ul>

<ag-grid-angular 
  #agGrid
  style="width: 100%; height: 500px;" 
  class="ag-theme-balham"
  [enableSorting]="true"
  [enableFilter]="true"
  [rowData]="rowData" 
  [columnDefs]="columnDefs"
  [defaultColDef]="defaultColDef"
  [enableColResize]="true"
  [components]="components"
  rowSelection="multiple"
  (gridReady)="onGridReady($event)"
  >
</ag-grid-angular>

<button (click)="getSelectedRows()">Get Selected Rows</button>
<button (click)="onAddRow()">Add Row</button>
<button (click)="onRemoveSelected()">Remove Selected</button>

