/**************************************/
/*         NAVIGATION MENU            */
/**************************************/

.message {
    font-size: 18px;
    font-weight: bold;
    color: #bbb;
    text-align: center;
    font-family: 'Calibri';
}

.navBar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    font-weight: bold;
}

.navBar li {
    float: left;
    font-size: 15px;
    font-weight: bold;
}

.navBar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navBar li a:hover {
    background-color: #337ab7;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.navBar .logout {
    float: right;
    cursor: pointer;
}

.navBar .logout a:hover {
    background-color: #d13a3a;
  }

// .navBar .active {
//     background-color: #337ab7;
// }
