<div style="text-align:center">
  <h1>
    Supplier management
  </h1>
</div>

<div class="container">

  <p *ngFor="let alert of alerts">
    <ngb-alert [type]="alert.type" (close)="closeAlert(alert)">{{ alert.message }}</ngb-alert>
  </p>

  <div class="row">
    <div class="col-md-12" style="padding-top: 10px">
      
      <label>
        Add supplier:
        <input #newSupplier (keyup.enter)="addSupplier(newSupplier.value); newSupplier.value=''">
      </label>
      <label style="margin-left: 20px;">
        <button class="button" (click)="addSupplier(newSupplier.value); newSupplier.value=''">Add</button>
      </label>

      <table class="table-striped" style="width: 50%">
        <thead>
          <tr>
            <th>Name</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let supplier of suppliers">
            <td>{{supplier.name}}</td>
            <td>
              <button class="button button-red" (click)="removeSupplier(supplier.name)">Remove</button>
            </td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>