<div style="text-align:center">
  <h1>
    Suppliers management
  </h1>
</div>

<div style="padding-bottom: 4px;">
  <label>
      Add supplier:
      <input #newSupplier (keyup.enter)="addSupplier(newSupplier.value); newSupplier.value=''">
  </label>
  <label style="margin-left: 20px;">
      <button class="button" (click)="addSupplier(newSupplier.value); newSupplier.value=''">Add</button>
  </label>

  <table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let supplier of suppliers">
      <td>{{supplier.name}}</td>
      <td><button class="button button-red" (click)="removeSupplier(supplier.name)">Remove</button></td>
    </tr>
  </tbody>
  </table>
</div>