<form (submit)="register()">
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" class="form-control" name="name" placeholder="Enter a username" [(ngModel)]="credentials.name">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" name="password" placeholder="Password" [(ngModel)]="credentials.password">
  </div>
  <button type="submit" class="btn btn-default">Register!</button>
</form>
