<div class="container">

  <p *ngFor="let alert of alerts">
    <ngb-alert [type]="alert.type" (close)="closeAlert(alert)">{{ alert.message }}</ngb-alert>
  </p>

  <div class="row">
    <div class="col-md-6">

      <h1 class="form-register-heading">Register</h1>

      <form #f="ngForm" novalidate (submit)="register()">
        <!-- EMAIL -->
        <div class="form-group">
          <label for="email">Email address</label>
          <input type="email" class="form-control" name="email" placeholder="Enter an email address" required 
            [(ngModel)]="credentials.email" pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$">
        </div>
        <!-- USERNAME -->
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" class="form-control" name="name" placeholder="Enter a username" required 
            [(ngModel)]="credentials.name">
        </div>
        <!-- PASSWORD -->
        <div class="form-group">
          <label>Password</label>
          <input type="password" [(ngModel)]="credentials.password" name="password" placeholder="Enter a new password"
            class="form-control" required #password="ngModel" minlength="5" validateEqual="confirm" reverse="true">
        </div>
        <div [hidden]="password.valid || (password.pristine && !f.submitted)" class="alert alert-danger">
          New password must contain at leat 5 characters
        </div>
        <!-- PASSWORD CONFIRMATION -->
        <div class="form-group">
          <label>Confirm password</label>
          <input type="password" [(ngModel)]="confirmPass" name="confirm" placeholder="Enter password again"
            class="form-control" required #confirm="ngModel" validateEqual="password">
        </div>
        <div [hidden]="confirm.valid || (confirm.pristine && !f.submitted)" class="alert alert-danger">
          Password does not match
        </div>

        <button type="submit" [disabled]="!f.valid" class="button">Register</button>
      </form>

    </div>
  </div>
</div>